@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border font-[Pretendard-Regular];
  }

  body {
    @apply w-full max-w-content bg-white-100 font-sans m-0 mx-auto;
  }

  #root {
    @apply absolute h-screen w-full max-w-content;
    padding-top: calc(theme(spacing.header) + 0.5rem);
    padding-bottom: calc(theme(spacing.navbar) + 0.5rem);
  }

  h1,
  h2,
  span,
  div {
    @apply select-none;
  }

  button {
    @apply cursor-pointer text-inherit border-0 bg-transparent;
  }
}

@layer components {
  .test-css {
    @apply absolute bottom-[20px] w-full text-center;
  }

  .test-css li {
    @apply relative inline-block p-1 cursor-pointer;
  }

  .test-css li button {
    @apply text-transparent rounded-full border-0 outline-0 bg-none block w-2 h-2 p-1 cursor-pointer bg-gray-400;
    font-size: 0;
    line-height: 0;
  }

  .test-css li.slick-active button {
    @apply bg-white-100;
  }

  .blueButton {
    @apply bg-blue-500 text-white-100 text-15px rounded-5 inline-flex justify-center items-center;
  }
}
