@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border font-[Pretendard-Regular];
  }

  body {
    @apply w-full h-screen bg-white-100 font-sans m-0 mx-auto;
  }

  #root {
    @apply h-full w-full overflow-y-auto m-0 mx-auto;
  }

  h1,
  h2,
  span,
  div {
    @apply select-none;
  }

  button {
    @apply cursor-pointer text-inherit border-0 bg-transparent;
  }

  input,
  input:focus,
  textarea,
  textarea:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@layer components {
  .test-css {
    @apply absolute bottom-[-7px] w-full text-center;
  }

  .test-css li {
    @apply relative inline-block p-1 cursor-pointer;
  }

  .test-css li button {
    @apply text-transparent rounded-full border-0 outline-0 bg-none block w-2 h-2 p-1 cursor-pointer bg-gray-400;
    font-size: 0;
    line-height: 0;
  }

  .test-css li.slick-active button {
    @apply bg-white-100;
  }

  .blueButton {
    @apply bg-blue-500 text-white-100 text-15px rounded-5 inline-flex justify-center items-center;
  }

  .skyBlueButton {
    @apply bg-blue-250 text-white-100 text-15px rounded-5 inline-flex justify-center items-center;
  }

  .payOptionButton {
    @apply w-full h-[50px] flex justify-center items-center rounded-7 border;
  }

  .unSelectedPayOption {
    @apply border-gray-400 text-16px text-black-700;
  }

  .selectedPayOption {
    @apply border-blue-500 text-blue-500;
  }

  .adminTitle {
    @apply text-18px font-extrabold;
  }

  .slick-list,
  .slick-track {
    @apply h-[260px] overflow-hidden;
  }

  .slick-dots {
    @apply bottom-[20px];
  }

  .policy-content {
    white-space: pre-wrap;
    padding-left: 2em;
    text-indent: -1.5em;
    line-height: 1.6;
    word-break: keep-all;
    @apply text-gray-500 text-14px;
  }
}
